.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  color: white;
}

@media screen and (max-width: 450px) {
  h1 {
    display: none;
  }
}
